<!DOCTYPE html>
<html>
<head><title>Regarder</title></head>
<body>
    <video width="640" controls>
        <source src="{{ url_for('video', filename=filename) }}" type="video/mp4">
    </video>
    <p>Vues : {{ data.views }} | Likes : {{ data.likes }}</p>
    <a href="{{ url_for('like', filename=filename) }}">👍 Like</a>
    <h3>Commentaires</h3>
    <ul>
        {% for c in data.comments %}
        <li><b>{{ c.pseudo }}:</b> {{ c.text }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        Pseudo: <input type="text" name="pseudo" required><br>
        Commentaire: <input type="text" name="comment" required><br>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>
